<% provide(:title, "About") %>
<div class="row">
<small class="col-md-12 text-right">alpha release <span class="label label-default">aa013ef785f037715f8bb888ae15eef9cb9c9c5d</span></small>

<h1><strong>Q-Ape Tools</strong></h1>
<h2>
  <strong>Q</strong>INeS
  <strong>A</strong>UTOSAR
  <strong>P</strong>rocess
  <strong>E</strong>ngineering
  Tools
</h2>

</div>

<h3>
  誕生の背景
</h3>
<p>
  QINeSはAutosar methodology を考慮したプロセスとAutosar Requirement を充足したモジュールを用意し、実際の車載ソフトウェアを開発する。

ただし、Configurationに代表される作業やモジュールの管理、
及びAutosar のドキュメントには記載されていない（各社の既存プロセスの活用を前提としている為）実際の設計行為をどう取り組むかを考える事はかなりの負担を伴う。

よって、QINeSではプロセスを設計要素/アウトプットの観点、QINeSモジュール同士の関連の観点より分析し設計工数を削減するV字プロセス前半の設計フェーズに重きを置いたツールを提供する。

</p>
