<!--描画箇所 -->
<div id="bitLayoutTableLegend" style="margin: 30px;" hidden='true'>
  <table class='table'>
    <tr>
    <th bgcolor='red' ><th>重複
    <th bgcolor='lightgrey'><th>割付なし
  </table>
</div>

<div id="bitLayoutTable" style="margin: 30px;"></div>
