<!--描画箇所 -->
<div id="bitLayoutTableLegend" style="margin: 30px;"></div>
<div id="bitLayoutTable" style="margin: 30px;"></div>

<script>
window.onload = drawBitLayout();
document.getElementById("signal_table").onchange = drawBitLayout
</script>
