<h1><%= @project.name %></h1>

<div class="project_link"><%= link_to 'メッセージ設計', '#' %></div>

<div class="project_link"><%= link_to 'コンフィグ', '#' %></div>

<div class="project_link"><%= link_to 'DB管理', '#' %></div>
