<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/js-yaml/3.8.4/js-yaml.js' %>
<div class="row">
  <div class="col-sm-8">
    <%= form_for @mode do |f| %>
    <%= f.hidden_field :image_json, id: :image_json, value: @mode.image_json %>
    <% end %>
    <div class="col-sm-7">
      <select id="node-to-add" class="form-control"></select>
    </div>
    <div class="col-sm-5">
      <button id="remove-button" type="button" class="btn btn-danger">ノード削除</button>
      <button id="form-submit" type="button" class="btn btn-primary">保存して閉じる</button>
    </div>
    <div id="mynetwork" style="height: 600px; font: 10pt sans;"></div>
  </div>
  <div class="col-sm-4">
    <label>Node ID</label>
    <input id="node_id" type="text" value="" class="form-control" readonly="readonly"/>
    <label>Node Name</label>
    <input id="node_name" type="text" value="" class="form-control" readonly="readonly" />
    <label>Description</label>
    <textarea id="node_desc" class="form-control" rows="20" wrap="off" style="font-family: monospace"></textarea>
  </div>
</div>
