<h1>プロジェクト「<%= @mode.project.name %>」の調停</h2>
<table>
  <tr>
    <th>
      タイトル
    </th>
    <th>
      記述
    </th>
  </tr>
  <tr>
    <td>
      <%= @mode.title %>
    </td>
    <td>
      <%= @mode.param %>
    </td>
  </tr>
</table>
